<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> CELEBZ P-BLOG</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
  <link rel="stylesheet" type="text/css" href="/stylesheet/all.css">
  <script  type="text/javascript" defer src="/scripts/all.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CELEBZ</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">	
          <li class="<active"><a href="/celebrities">Home</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" action="/celebrities" method="GET">
            <div class="form-group search-box">
              <span class="search"><i class="fas fa-search"></i>/<span>
              <input class="form-search-nav" type="text" name= "fuzzySearch" class="form-control" placeholder="Search for celebrity">
            </div>
          </form>
          <% if(!currentUser){ %>
          <li><a class= "<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>'" href="/register"><span class="search"><i class="fas fa-sign-up-alt"></i>/<span>Sign Up</a></li>
          <li><a class= "<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>'" href="/login"><span class="search"><i class="fas fa-sign-in-alt"></i>/<span>Sign In</a></li>
          <% }else { %>
          <Li><a href= "/user/<%= currentUser._id%>">Signed In As <span class="search"><i class="fas fa-user"></i>/<span><strong><%= currentUser.username.toUpperCase() %></strong></a></Li>
          <li><a href="/logout">Logout</a></li>
          <% } %>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="container">
  <% if(error && error.length > 0){ %>
  <div class="alert alert-danger"><%= error %></div>
  <% } %>
  <% if(success && success.length > 0){ %>
  <div class="alert alert-success"><%= success %></div>
  <% } %>
</div>
